/*Main CSS file for the app*/
body {
	background-color: antiquewhite;
}

.nav-wrapper{
	color: #FAEBD7;
}

#getStarted {
	margin: 2em auto 0 auto;
	text-align: center;
	width: 50em;
}

#mapOld {
	border: 1px solid black;
	width: 36em;
	
	margin: 0 auto;
}
