<!-- About page displaying an image and contact information of the site creater, Scott Heron -->

<h3 class="heading">about</h3>

<div id="about">
    <p>The site was created by Scott Heron.<br>
    GitHub - <a href="https://github.com/scottheron">github.com/scottheron</a><br>
    email - <a href="mailto:scott.heron@outlook.com">scott.heron@outlook.com</a><br><br>
    Thanks for checking out my app. If you would like to see more <br>
    please visit my GitHub page.</p>

    <div id="aboutPicture">
        <img src="/img/me2.jpg">
    </div>
</div>


