<!-- Main ejs file for the app. Sets up a welcome page describing how the site works and lets the user 
choose to login or signup -->

<div id="getStarted">
	<h1>Welcome to Whisky</h1>
	<p>Create an account and browse delicious Scottish Single Malt Whiskies.<br>
	Feel free to navigate to the Whisky page to browse, but to save your discoveries you'll need to <br>
	create an account. To get started click Sign Up.<br><br>
	Oh and you can tag your Whisky delights with key words that are visible to other users of the site <br>
	so you can share your taste adventures and learn from one another.<br><br></p>
	<h4> - Sláinte (good health)</h4>
	<a style="color:#FAEBD7" class="waves-effect waves-light btn-large brown darken-4" href="/signup">Sign Up</a>
	<a style="color:#FAEBD7" class="waves-effect waves-light btn-large brown darken-4" href="/login">Login</a>
</div>
<div id="mapOld">
	<img class="materialboxed" width="500" src="/img/1772_Bonne_Map_of_Scotland.jpg">
</div>
