<!-- Main ejs file for the app. Sets up a welcome page describing how the site works and lets the user 
choose to login or signup -->

<div id="getStarted">
	<h1>Welcome to The Whisky Stone</h1>
	<p>Browse delicious Single Malt Whiskies and discover the tastes of Scotland.<br><br>
	Select a Whisky from the list to find out about available bottlings (ages and casks)<br>
	and see the Tasting Notes to help you make your selection.<br></p>
	<h4> - Sláinte (good health)</h4>
	<a style="color:#FAEBD7" class="waves-effect waves-light btn-large brown darken-4" href="/whisky">Browse the Whiskies Here</a>
	<!-- <a style="color:#FAEBD7" class="waves-effect waves-light btn-large brown darken-4" href="/login">Login</a> -->
</div>
<div>
	<img id="mapOld" class="materialboxed" width="500" src="/img/1772_Bonne_Map_of_Scotland.jpg">
</div>
