<div id="getStarted">
	<h1>Welcome to Whisk.y</h1>
	<p>Let's find your dream Single Malt Scotch Whisky.<br>
	To get started create an account and set your taste preferences.</p>
	<a class="waves-effect waves-light btn-large" href="/signup">Sign Up</a>
	<a class="waves-effect waves-light btn-large" href="/login">Login</a>
</div>
