<!-- The layout ejs file for the app. included here are links to resources required for materialize, jQuery, JavaScript
as well as links to the main CSS and Style files. A navigation bar has also been included here to persist across the site -->

<!DOCTYPE html>
<html>
<head>
	<!--Let browser know website is optimized for mobile-->
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" media="screen" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" media="screen,projection">
  	<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen,projection">

	<title>The Whisky Stone</title>
</head>
<body>
	
	<!-- Collapsible nav bar for the site. on mobile screens a burger button reveals the menu options -->
	<nav>
	    <div class="nav-wrapper brown darken-4">
	      	<a style="color:#FAEBD7; padding-left: 5em;" href="/" class="brand-logo">The Whisky Stone</a>
	      	<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	      	<ul class="right hide-on-med-and-down">
	        	<li><a style="color:#FAEBD7" href="/about">About</a></li>
		  	   	<li><a style="color:#FAEBD7" href="/">Home</a></li>
		    	<li><a style="color:#FAEBD7" href="/whisky">Whisky</a></li>
		    	<!-- <% if (currentUser) { %>
		    		<li><a style="color:#FAEBD7" href="/profile">Profile</a></li>
		    		<li><a style="color:#FAEBD7" href="/signuporlogin/logout">Log Out</a></li>
		    	<% } else { %>
		    		<li><a style="color:#FAEBD7" href="/signuporlogin/login">Login</a></li>
		    		<li><a style="color:#FAEBD7" href="/signuporlogin/signup">Sign Up</a></li>
		    	<% } %> -->
		    </ul>
	      	<ul class="side-nav brown darken-4" id="mobile-demo">
	        	<li><a style="color:#FAEBD7" href="/about">About</a></li>
		  	   	<li><a style="color:#FAEBD7" href="/">Home</a></li>
		    	<li><a style="color:#FAEBD7" href="/whisky">Whisky</a></li>
		    	<!-- <% if (currentUser) { %>
		    		<li><a style="color:#FAEBD7" href="/profile">Profile</a></li>
		    		<li><a style="color:#FAEBD7" href="/signuporlogin/logout">Log Out</a></li>
		    	<% } else { %>
		    		<li><a style="color:#FAEBD7" href="/signuporlogin/login">Login</a></li>
		    		<li><a style="color:#FAEBD7" href="/signuporlogin/signup">Sign Up</a></li>
		    	<% } %> -->
	      	</ul>
	    </div>
	</nav>

	<!-- <div>Current User: <%= currentUser.name %></div> -->

	<%- body %>
	
	<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<!-- Compiled and minified JavaScript -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  	<script type="text/javascript" src="/js/script.js"></script>
	
</body>
</html>