<!-- Login page, takes the email and password for the user so it can be verified against the database. The send button
posts the information back to the main index file -->

<h3 class="heading">login</h3>

<div id="login" class="row">
    <form method="POST" class="col s12">
      	<div class="row">
        	<div class="input-field col s6">
          		<input name="email" type="email" class="validate">
          		<label for="email">Email</label>
        	</div>
      	</div>
      	<div class="row">
        	<div class="input-field col s6">
          		<input name="password" type="password" class="validate">
          		<label for="password">Password</label>
        	</div>
      	</div>
      	<button onclick="Materialize.toast('Logged In', 4000)" style="color:#FAEBD7" class="btn waves-effect waves-light brown darken-4" type="submit" name="action">Submit
    		<i style="color:#FAEBD7" class="material-icons right">send</i>
  		</button>
    </form>
</div>