<!-- Settings page. Here the user can upload a profile picture which is displayed back to them -->

<h3 class="heading">profile picture upload</h3>

<form enctype="multipart/form-data" action="/profile/settings" method="POST">
	<input style="color:#FAEBD7" type="file" class="btn btn-primary brown darken-4" name="avatar"><br>	
	<input onclick="Materialize.toast('Avatar Submitted', 4000)" style="color:#FAEBD7" type="submit" class="btn btn-primary brown darken-4">
</form>

<h4>Current Avatar Picture</h4>

<img class="materialboxed" width="300" src="<%= userPic %>">


