<!-- Sign up page, takes three input fields, name, emial and password. the confim password field checkes to make
sure the user entered the password correctly before saving it to the database. There is a send button to post the
information back to the min route -->

<h3 class="heading">sign up</h3>

<div id="signup" class="row">
    <form method="POST" class="col s12">
      	<div class="row">
        	<div class="input-field col s6">
         		 <input name="name" type="text" class="validate">
          		<label for="name">Name</label>
        	</div>
        </div>
        <div class="row">
        	<div class="input-field col s6">
          		<input name="email" type="email" class="validate">
          		<label for="email">Email</label>
        	</div>
      	</div>
      	<div class="row">
        	<div class="input-field col s6">
          		<input name="password" type="password" class="validate">
          		<label for="password">Password</label>
        	</div>
      	</div>
      	<div class="row">
        	<div class="input-field col s6">
          		<input name="password2" type="password" class="validate">
          		<label for="password">Confirm Password</label>
        	</div>
      	</div>
      	<button onclick="Materialize.toast('Profile Created', 4000)" style="color:#FAEBD7" class="btn waves-effect waves-light brown darken-4" type="submit" name="action">Submit
    		<i class="material-icons right">send</i>
  		</button>
    </form>
</div>