<div>
	<h3>whisky</h3>
	
</div>
<form>
	<a class='dropdown-button btn' href='#' data-activates='dropdown1'>Select a Whisky from this drop down list</a>
	<ul id='dropdown1' class='dropdown-content'>
	    <li><a href="/whisky/aberfeldy">Aberfeldy</a></li>
	    <li><a href="/whisky/talisker">Talisker</a></li>
	    <li><a href="/whisky/oban">Oban</a></li>
  	</ul>
</form>

