<div>
	<h3>whisky</h3>
	
</div>
<form>
	<a class='dropdown-button btn' href='#' data-activates='dropdown1'>Select a Whisky from this drop down list</a>
	<ul id='dropdown1' class='dropdown-content'>
	    <li><a href="/whisky/aberfeldy">Aberfeldy</a></li>
	    <li><a href="#!">two</a></li>
	    <li class="divider"></li>
	    <li><a href="#!">three</a></li>
  	</ul>
</form>


<form method="POST" class="col s12">
	<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    		<i class="material-icons right">send</i>
  	</button>
	<h5>Bottlings - </h5><br><p><%= bottlings %></p><br>
	<h5>Tastings - </h5><br><p><%= tastings %></p>
</form>