/*Main CSS file for the app*/

body {
    background-color: antiquewhite;
    font-family: 'Cinzel', serif;
    font-weight: 700
}

.nav-wrapper{
    color: #FAEBD7;
}

#mainHeader {
    padding-left: 5em;
}

#getStarted {
    margin: 0 auto;
    text-align: center;
    width: 70em;
}

#mapOld {
    width: 34em;
    margin: 0 auto;
}

#login {
    width: 60em;
}

#signup{
    width: 60em;
}
.heading {
    margin: 1em auto 1em 2em;
}

#profilePic {
    width: 10em;
    float: right;
    padding-top: -10em;
}

#profileHeading {
    width: 50em;
}

#fourzerofour{
    margin: 0 auto;
    width: 40em;
}

#about {
    margin: 0 auto;
    width: 30em;
}

#aboutPicture img {
    float: left;
    width: 20em;
    margin: 3em auto 0 auto;
    border-radius: 5%
}
#copyrite {
    width: 30em;
    margin: 0 auto;
}

/*conditions for small screen sizes*/
@media (max-width: 62em) {
    #getStarted {
        margin: 0 auto;
        text-align: left;
        width: 28em;
    }

    #mapOld {
        width: 28em;
        margin: 0 auto;
    }
}